[user]
	name = Foo Bar
	email = foo@bar.com
	signingkey = ~/.ssh/id_ecdsa_sk.pub
[alias]
	logd = log --decorate --source --graph --all
	pulls = ! git stash -q && git pull && git stash pop -q
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
[init]
	defaultBranch = master
[push]
	default = simple
[pull]
	rebase = true
[core]
	editor = vim
	autocrlf = input
	excludesfile = ~/.gitcfg/.gitignore_global
	commentChar = ";"
[commit]
	gpgsign = true
[gpg]
	format = ssh
[advice]
	ignoredHook = false
#[filter "lfs"]
#	clean = git-lfs clean -- %f
#	smudge = git-lfs smudge -- %f
#	process = git-lfs filter-process
#	required = true
#[credential]
#	helper = osxkeychain
#[credential "https://github.com"]
#	helper = !/opt/homebrew/bin/gh auth git-credential
#[credential "https://gist.github.com"]
#	helper = !/opt/homebrew/bin/gh auth git-credential
